<div class="search-form mt-4">

  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input" class="form-label">Từ khóa</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Nhập từ khóa ...."
        id="search-input" name="q" />
    </div>

    <div class="form-group">
      <label for="gender-select" class="form-label">Từ khóa</label>
      <select name="gender" class="form-control" id="gender">
        <option value="">--- Chọn giới tính ---</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
      </select>
    </div>

</div>

<button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>